.main-container {
  text-align: center;
  padding: 20px;
  margin: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.welcome-screen h1 {
  color: #333;
}

.welcome-screen p {
  color: #666;
  margin-bottom: 20px;
}

.welcome-screen button,
.next-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.welcome-screen button:hover,
.next-button-container button:hover {
  background-color: #0056b3;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.option {
  width: 50%;
  padding: 8px;
  margin-right: 5px; /* Add margin for spacing between options */
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}

.option.selected {
  background-color: #333; /* Dark color for selected option */
  color: #fff; /* Text color for selected option */
}
